* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* #region DEBUG */

.debug nav {
  height: 80px;
}

.debug header {
  height: 700px;
}

.debug .header-section {
  height: 80%;
}

.debug .logo,
.links,
.login {
  border: 2px dashed black;
}

.debug .header-section {
  border: 2px dashed black;
}

.debug .outer-section {
  height: 600px;
}

.debug .pic-txt,
.txt-pic {
  height: 80%;
}

.pic,
.txt {
  border: 2px dashed black;
}

.debug .outer-txt-over-pic {
  height: 1000px;
}

.debug .txt-over-pic {
  height: 80%;
  border: 2px dashed black;
}
/* #endregion DEBUG */

/* #region NAV */

nav {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  width: 70%;
  background-color: orange;
}

.logo,
.links,
.login {
  padding: 10px;
}

.links {
  width: 60%;
  text-align: center;
}

.logo {
  flex-grow: 1;
}

.login {
  flex-grow: 1;
  text-align: right;
}

/* #endregion NAV */

/* #region HEADER */

header {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-section {
  background-color: rgb(235, 71, 235);
  width: 60%;
}

/* #endregion HEADER */

/* #region MAIN */

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: gainsboro;
}

.outer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic-txt,
.txt-pic {
  display: flex;
  width: 70%;
}

.txt-pic {
  flex-direction: row-reverse;
}

.pic {
  background-color: rgb(92, 92, 239);
  width: 60%;
}

.txt {
  background-color: rgb(255, 162, 222);
  flex-grow: 1;
}

.outer-txt-over-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-over-pic {
  background-color: green;
  width: 80%;
}
/* #endregion MAIN */
