* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* #region DEBUG */

.debug header {
  height: 80px;
}

.debug .flex-container {
}

/* #endregion DEBUG */

.container {
  width: 80%;
  margin: auto;
}

header {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  width: 80%;
  background-color: orange;
}

span {
}

.logo,
nav,
.login {
  padding: 10px;
  border: 2px dashed black;
}

nav {
  width: 60%;
  text-align: center;
}

.logo {
  flex-grow: 1;
}

.login {
  flex-grow: 1;
  text-align: right;
}
