* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
}

/* #region DEBUG */

.debug header {
  height: 100px;
  background-color: aquamarine;
}

/* #endregion DEBUG */

.container {
  width: 80%;
  margin: auto;
}

header {
}

.flex-container {
  display: flex;
  width: 80%;
  margin: auto;
  background-color: orange;
}

nav {
  width: 60%;
}

.logo {
  flex-grow: 1;
}

.login {
  flex-grow: 1;
}
